HOST=0.0.0.0
PORT=5005
REDIS_URL=redis://:libreria-redis@127.0.0.1:6379/0
JWT_SECRET_KEY=libreria-jwt-secreto-compartido
JWT_PASSWORD=libreria-jwt-compartida
CORS_ORIGINS=http://localhost:3000,http://127.0.0.1:3000,http://localhost:5000,http://127.0.0.1:5000
DB_HOST=127.0.0.1
DB_PORT=5433
DB_NAME=library_db
DB_USER=library_user
DB_PASSWORD=666
